[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/glew"]
	path = lib/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "lib/gainput"]
	path = lib/gainput
	url = git@github.com:jkuhlmann/gainput.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = git@github.com:libsdl-org/SDL.git
